@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
html, body {
  height: 100%;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3?auto=format&fit=crop&w=1401&q=80") fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
  padding: 50px  0 0 0;
}

.nofill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 66, 80, 0.15);
  box-shadow: 0px 2px 4px rgba(44, 66, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  border: none;
  color: #ffffff;
  font: 15px;
  text-indent: 18px;
  outline: none;
  font-weight: 400;
  padding: 0 60px 0 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ffffff;
  z-index: 2;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50px;
}

header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.container {
  width: 100%;
  padding: 15px;
  float: left;
}

ul.todo {
  width: 100%;
  float: left;
  background: url("https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3?auto=format&fit=crop&w=1401&q=80") fixed;
  background-position: center center;
  background-size: cover;
}

ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #444444;
  padding: 14px 100px 14px 14px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  margin: 0 0 10px 0;
  z-index: 0;
}

ul.todo li:last-child {
  margin: 0;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  border: none;
  position: relative;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #b9b9b9;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button svg .fill {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

ul.todo li .buttons .remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons .complete svg {
  border: 1px solid #25b99a;
  border-radius: 11px;
}

ul.todo li .buttons .complete svg .fill {
  fill: #25b99a;
}

ul.todo#completed li button.complete svg {
  background: #25b99a;
  border: 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

ul.todo#completed li button.complete svg .fill {
  fill: #ffffff;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #ffffff;
}

ul.todo#completed:not(:empty) {
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#completed:not(:empty):before {
  content: '';
  width: 150px;
  height: 1px;
  background: #e8eee8;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
}

/*# sourceMappingURL=style.css.map */